{% extends 'Frontend/base.html.twig' %}

{% block body %}
    <div class="row" >
        <div class="col-md-12" >
            <div class="pull-left">
                <h3 style="text-align:center; font-weight:bolder;">Liste de nos {{ page.getTotalItemCount }} jeux</h3>
            </div>
            <div class="navigation pull-right">
                {{ knp_pagination_render(page) }}
            </div>
        </div>
        <div class="col-md-12"><hr/></div>
    </div>
    <div class="row" id="list-jeux">
        {%  for play in page %}
            {%  if play.pictur %}
                {%  set img =  ('/uploads/play/' ~play.pictur)|imagine_filter('home_play') %}
                {%  set imgraw =  ('/uploads/play/' ~play.pictur) %}
            {%  else %}
                {%  set img ='/images/logo.png'|imagine_filter('home_play') %}
                {%  set imgraw ='/images/logo.png' %}
            {%  endif %}
            <div class="col-md-4" >
            <div class="panel panel-info" style="height:205px; overflow: hidden;">
                <div class="panel-heading">
                    <i class="fab fa-buromobelexperte action-detect"
                       data-position="{{  play.position }}"
                       data-name="{{ play.name[:10] }}"
                       data-pictur="{% if play.logo %}{{  ('/uploads/playlogo/'~play.logo)|imagine_filter('logo_play') }}{%  endif %}"
                    ></i>&nbsp;{{  play.name  }}
                    <div class="pull-right">
                        {%  for i in 1..3 %}
                            <span class="fa fa-paw pull-left" style="color:{%  if play.note >= i %}#000{% else %}#ccc{%  endif %};"></span>
                        {%  endfor %}
                    </div>
                </div>
                <div class="panel-body" >
                    <div style="position:relative; background-color:rgba(0,0,0,0);">
                        <div style="opacity: 0.3; position:absolute; width:100%; height:205px; top:-15px; left:-15px; background-image: url('{{ img }}'); background-position: 25%; background-repeat: no-repeat;"></div>
                        <div style="position:relative; z-index:2;">
                        <div class="pull-left" style="width:40%">
                            <img src="{{ img }}" class=" vignette"/>
                        </div>
                        <div class="pull-left" style="padding-left:10px; width:60%;">
                            <label>Nombre de joueurs :</label>  {{ play.nbPlayer }}<br/>
                            <label>A partir de : </label> {{ play.age }} ans<br/>
                            {%  for genre in play.genres %}<span class="label label-success">{{ genre }}</span>&nbsp;{%  else %}<span class="label label-success">Aucun</span>&nbsp;{%  endfor %}<br/>
                            <div style="text-align:center; margin-top:10px;">
                                <a href="{{  path('play', {'id': play.id}) }}" class="btn btn-lg btn-primary"><span class="fas fa-shoe-prints"></span>&nbsp;Aller voir !</a>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>

            </div>
            </div>
        {%  endfor %}
    </div>
    <div class="row">
        <div class="col-md-12">
                <div class="navigation pull-right">
                    {{ knp_pagination_render(page) }}
                </div>
        </div>
    </div>
{% endblock %}
{% block rightbar %}
    <script>
        $('.action-detect').click(function(event){
            var id = '#' + $(this).attr('data-position');
            var elm = $( this );
            //$(this).appendTo($(id));
            elm.transfer( { to: id, duration: 1000 }, function(){
                $('.position-play').css('background-color','#fff');
                $('.position-play').css('background-image','none');
                $('.position-play').html("");
                if(elm.attr('data-position')) {
                    if (elm.attr('data-pictur')) {
                        $(id).html('<img style="width:100%; padding-top:7px;" src="' + elm.attr('data-pictur') + '"/>');
                    } else {
                        $(id).css('background-color', '#000');
                        $(id).html('<i class="fas fa-map-marker-alt"></i>&nbsp;' + elm.attr('data-position') + '<br/><i style="font-size:8px;">Je suis ici</i>');
                    }
                }
            });
            if ($(this).attr('data-pictur')) {
                $('.ui-effects-transfer').html('<img style="width:100%;" src="' + elm.attr('data-pictur') + '"/>');
            }
        });
        var moveByScroll = function(scroll) {
            let top = scroll - 332;
            let max = $('#list-jeux').height() - 450;
            if (top > 0 && top < max) {
                $('#table-jeux').css('margin-top', top);
            }
        }
        $(window).scroll(function(){
            moveByScroll($(this).scrollTop());
        });
        moveByScroll(window.scrollY);
    </script>
    {%  set columns = ['A','B','C','D','E'] %}
    {%  set lines = 1..7 %}
    <table id="table-jeux" class="table">
        <tr><td width="10%"></td>{%  for  hc in columns %}<th style="text-align:center;" width="18%">{{ hc }}</th>{%  endfor %}</tr>
        {%  for l in lines %}
            <tr>
                <th style="vertical-align:middle; text-align:right;">{{ l }}</th>
                {%  for  c in columns %}
                        <td id="{{ c ~ l }}" class="position-play" style="vertical-align:middle; height:70px; border:1px solid black; font-weight: bolder; text-align:center; color:#fff; "></td>
                {%  endfor %}
            </tr>
        {%  endfor %}
    </table>
{%  endblock %}
