<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}TGB{% endblock %}</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="{{ asset('build/css/frontend.css') }}">
    <link rel="stylesheet" href="https://code.jquery.com/ui/jquery-ui-git.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script  src="https://code.jquery.com/ui/jquery-ui-git.js"></script>
</head>
<body>
{% include 'Frontend/header.html.twig' %}
<section id="content-section9" class="content-section9">
    <div class="container-fluid">
        <div class="row">
            <div class="all-body">
                <nav role="navigation" class="navbar navbar-default margin-top-20">

                    <div id="mainmenu" class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li id="menu-play"><a href="{{ path('homepage') }}"><i class="fas fa-dice"></i>&nbsp;Jeux</a></li>
                            {%  if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                                {% for collection in app.user.collections %}
                                    <li id="menu-my-play-{{ collection.id }}"><a href="{{ path('collection_index', {"id" : collection.id}) }}"><i class="fas fa-dice"></i>&nbsp;Mes jeux</a></li>
                                {%  endfor %}
                                <li><a href="{{ path('idk_lego_security_logout') }}"><i class="fas fa-user"></i>&nbsp;Déconnexion</a></li>

                            {%  else %}
                                <li><a href="{{ path('idk_lego_security_login') }}"><i class="fas fa-user"></i>&nbsp;Connexion</a></li>
                            {%  endif %}
                        </ul>
                        {%  if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                            <ul class="nav navbar-nav pull-right">
                                <li class="pull-right"><a>Bonjour {{ app.user.username }}</a></li>
                            </ul>
                        {%  endif %}
                    </div><!-- navbar-collapse -->
                </nav>
                <div class="col-md-9">
                    <div class="body">
                        {% include 'Frontend/Default/_flash.html.twig' %}
                        {% block body %}{% endblock %}
                    </div>
                </div>
                <div class="col-md-3 nopadding">
                    <div class="right-bar">
                        {% block rightbar %}{% endblock %}
                    </div>
                </div>
                <div style="clear:both;"></div>
            </div>
        </div><!-- end row -->
    </div><!-- end container -->

</section>
{% include 'Frontend/footer.html.twig' %}
<script src="{{ asset('build/js/frontend.js') }}"></script>
{%  block js %}{%  endblock %}
</body>
</html>